<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header title"><%= t ".order" %></h2>
      </div>
    </div>
    <div class="export_product">
      <%= t "admin.products.index.download" %>
      <%= link_to t(".csv"), admin_orders_path(format: "csv") %> |
      <%= link_to t(".excel"), admin_orders_path(format: "xls") %>
    </div>
    <%= search_form_for @search, url: admin_orders_path do |f| %>
      <div class="col-md-12">
        <div class="input-group mt-30 mb-5">
          <%= f.label :id_eq, t("admin.orders.show.order_no"), class: "col-md-3 control-label mt-5" %>
          <div class="col-md-9">
            <%= f.search_field :id_eq, class: "form-control" %><br/>
          </div>
          <%= f.label :user_name_cont, t(".user"), class: "col-md-3 control-label mt-20" %>
          <div class="col-md-9">
            <%= f.search_field :user_name_cont, class: "form-control mt-15" %>
          </div>
        </div>
        <div class="input-daterange">
          <%= f.label :created_at_gteq, t(".from_date"), class: "col-md-2 control-label mt-15" %>
          <div class="col-md-4">
            <%= f.text_field :created_at_gteq, class: "form-control datepicker mt-10" %>
          </div>
          <%= f.label :created_at_lteq, t(".to_date"), class: "col-md-2 control-label mt-15" %>
          <div class="col-md-4">
            <%= f.text_field :created_at_lteq, class: "form-control datepicker mt-10" %>
          </div>
        </div>
        <div class="mt-10">
          <%= f.label :status_eq, t(".status"), class: "col-md-2 control-label mt-15" %>
          <div class="col-md-3">
            <%= f.select :status_eq, Order.statuses, {include_blank: true}, class: "form-control mt-10" %>
          </div>
        </div>
        <%= button_tag type: "submit", class: "btn btn-info mt-10" do %>
          <i class="fa fa-search"></i>
          <%= t ".filter" %>
        <% end %><br/>
      </div>
      <div class="col-md-12 text-center mt-20">
        <div class="display-category"><%= t "admin.categories.index.display" %></div>
        <%= select_tag :limit, options_from_collection_for_select(
          Settings.show_limit, :second, :second, selected: params[:limit] ||
          Settings.show_limit.show_15), id: "show-limit"%>
      </div>
    <% end %>
    <div class="text-center">
      <%= paginate @orders %><br/>
      <%= page_entries_info @orders %>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-order">
          <th><%= t "orders.index.number_order" %></th>
          <th><%= sort_link @search, :user_name, t(".user") %></th>
          <th><%= sort_link @search, :created_at, t("orders.index.date") %></th>
          <th><%= sort_link @search, :total, t("orders.index.total") %></th>
          <th><%= sort_link @search, :status, t("orders.index.status") %></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr class="table-order">
            <td><%= link_to "##{order.id}", admin_order_path(order.id) %></td>
            <td><%= order.user.name %></td>
            <td><%= link_to l(order.created_at, format: :date_month_year), admin_order_path(order.id) %></td>
            <td><%= format_price order.total %></td>
            <%= render "shared/order_status", order: order %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center mb-30">
      <%= paginate @orders %>
    </div>
  </div>
</div>
