<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header title"><%= t "orders.show.order_detail" %></h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="btn-order-status">
        <% case @order.status %>
          <% when Settings.order_status.pending %>
            <button class="btn btn-warning" disabled="disabled"><%= @order.status %></button>
          <% when Settings.order_status.delivered %>
            <button class="btn btn-success" disabled="disabled"><%= @order.status %></button>
          <% when Settings.order_status.canceled %>
            <button class="btn btn-danger" disabled="disabled"><%= @order.status %></button>
        <% end %>
      </div>
      <%= t "admin.orders.index.user" %>: <strong><%= @order.user.name %></strong><br/>
      <%= t ".order_no" %> <strong><%= "##{@order.id}" %></strong>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-order">
            <th></th>
            <th><%= sort_link @search, :name, t(".name") %></th>
            <th><%= sort_link @search, :price, t("shared.cart.price") %></th>
            <th><%= sort_link @search, :quantity, t("shared.cart.quantity") %></th>
            <th><%= sort_link @search, :created_at, t("orders.show.order_date") %></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each_with_index do |item, index| %>
            <tr class="table-order">
              <td><%= link_to index + 1, product_path(item.product_id) %></td>
              <td><%= link_to item.product.name, product_path(item.product_id) %></td>
              <td><%= format_price item.product.price %></td>
              <td><%= item.quantity %></td>
              <td><%= l item.created_at, format: :date_month_year %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @order.pending? %>
        <div class="col-md-12 mt-5">
          <div class="col-md-3"><%= t ".cancel" %></div>
          <div class="col-md-9">
            <%= form_for @order do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :status, value: :canceled %>
              <%= f.submit t("orders.show.cancel"),
                data: {confirm: t("orders.show.you_sure")}, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 mt-10">
          <div class="col-md-3"><%= t ".confirm" %></div>
          <div class="col-md-9">
            <%= form_for @order do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :status, value: :delivered %>
              <%= f.submit t(".delivered"),
                data: {confirm: t(".confirm")}, class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="modal-footer">
        <h3 class="payment"><%= t "shared.cart.total" %>
          <span class="total_price"><%= format_price @order.total %></span>
        </h3>
      </div>
    </div>
  </div>
</div>
