<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= t ".cart" %></h4>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="active">
            <th><%= t ".product" %></th>
            <th><%= t ".price" %></th>
            <th><%= t ".quantity" %></th>
            <th><%= t ".amount" %></th>
          </tr>
        </thead>
        <tbody class="cart_table">
        </tbody>
      </table>
      <div class="modal-footer">
        <h3 class="payment"><%= t ".total" %></h3>
        <h5 class="payment"><%= t ".vat" %></h5>
        <div>
          <a href="" data-dismiss="modal" class="continue">
            <%= t ".continue" %>
          </a>
        </div>
        <div class="payment">
          <button class="btn btn-danger" type="button">
            <%= t ".payment" %>
          </button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
