<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= t ".cart" %></h4>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="active">
            <th><%= t ".image" %></th>
            <th><%= t ".product" %></th>
            <th><%= t ".price" %></th>
            <th><%= t ".quantity" %></th>
            <th><%= t ".amount" %></th>
          </tr>
        </thead>
        <tbody class="cart_table">
          <% if @current_order %>
            <% @current_order.each do |cart_item| %>
              <tr>
                <td class="thumb"><%= image_tag cart_item["image_url"] %></td>
                <td class="details">
                  <%= link_to cart_item["name"], product_path(cart_item["product_id"].to_i) %>
                </td>
                <td class="price text-center">
                  <strong><%= format_price cart_item["price"] %></strong>
                </td>
                <td class="quantity text-center">
                  <input class="input" type="number" value="<%= cart_item["quantity"]%>" data-id="<%= cart_item["product_id"] %>" min="1" />
                </td>
                <td class="total text-center">
                  <strong class="primary-color price-item-<%= cart_item["product_id"] %>">
                    <%= format_price(cart_item["quantity"].to_i * cart_item["price"].to_i) %>
                  </strong>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="modal-footer">
        <h3 class="payment"><%= t ".total" %>
          <span class="total_price">
            <%= format_price @total_price %>
          </span>
        </h3>
        <h5 class="payment"><%= t ".vat" %></h5>
        <div>
          <a href="" data-dismiss="modal" class="continue">
            <%= t ".continue" %>
          </a>
        </div>
        <div class="payment">
          <button class="btn btn-danger" type="button">
            <%= t ".payment" %>
          </button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
