<div class="col-md-3 col-sm-6 mb-20 slide">
  <div class="products">
    <% if product.created_at.between?(1.week.ago, Time.zone.now) %>
      <div class="new">
        New
      </div>
    <% end %>
    <% product.promotion_details.each do |i| %>
      <% if Time.zone.today.between?(i.start_date, i.end_date) %>
        <div class="offer">- <%= i.promotion.percent %>%</div>
      <% end %>
    <% end %>
    <div class="thumbnail">
      <%= image_tag product.images.first.image_url.url if product.images.any? %>
    </div>
    <div class="productname">
      <%= link_to product.name, product_path(product) %>
    </div>
    <% if product.promotion_details.present? %>
      <% product.promotion_details.each do |i| %>
        <% if Time.zone.today.between?(i.start_date, i.end_date) %>
          <span class="price">
            <%= format_price sale_price_partial(product, i) %>
          </span>
          <span>
          <h5 class="oldprice"><%= format_price product.price %></h5>
          </span>
        <% else %>
          <span class="price">
            <%= format_price product.price %>
          </span>
        <% end %>
      <% end %>
    <% else %>
      <span class="price">
        <%= format_price product.price %>
      </span>
    <% end %>
    <div class="button_group">
      <%= button_to t(".add"), carts_path(product_id: product.id),
        method: :post, remote: true, class: "button add-cart" %>
      <div id="like_form_<%= product.id %>" class="like_form">
        <%= render "shared/like_form", product: product %>
      </div>
    </div>
  </div>
</div>
