<div class="col-md-3 col-sm-6 mb-20 slide">
  <div class="products">
    <div class="rating">
      <% if user_signed_in? %>
        <input type="hidden" data-id="<%= product.id %>"
          data-star="<%= star(product) %>" value="<%= star(product) %>"
          data-rate-id="<%= product.ratings.nil? ? "" : rate(product) %>" class="rating"
          data-filled="fa fa-star fa-1x" data-empty="fa fa-star-o fa-1x" />
      <% else %>
        <input type="hidden" data-id="<%= product.id %>" class="rating"
          data-filled="fa fa-star fa-1x" data-empty="fa fa-star-o fa-1x"
          value="<%= product.average_rating %>" disabled="disabled" />
      <% end %>
    </div>
    <div class="offer">- %20</div>
    <div class="thumbnail"><%= link_to image_tag "products/small/products-01.png" %></div>
    <div class="productname"><%= product.name %></div>
    <h3 class="price"><%= product.price %> <%= t ".usd" %></h3>
    <div class="button_group">
      <button class="button add-cart" type="button">
        <%= t ".add" %>
      </button>
      <div id="like_form_<%= product.id %>" class="like_form"><%= render "shared/like_form", product: product %></div>
    </div>
  </div>
</div>
