<div class="container_fullwidth">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <ol class="breadcrumb title mb-30">
          <li><%= link_to t("layouts.header.home"), root_url %></li>
          <li class="active"><%= t ".order_list" %></li>
        </ol>
      </div>
      <h2 class="title"><%= t ".order_list" %></h2>
      <div class="text-center">
        <%= paginate @orders %>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-order">
            <th><%= t ".number_order" %></th>
            <th><%= sort_link @search, :created_at, t(".date") %></th>
            <th><%= sort_link @search, :total, t(".total") %></th>
            <th><%= sort_link @search, :status, t(".status") %></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each_with_index do |order, index| %>
            <tr class="table-order">
              <td><%= link_to index + 1, order_path(order.id) %></td>
              <td><%= link_to l(order.created_at, format: :short),
                order_path(order.id) %></td>
              <td><%= format_price order.total %></td>
              <% case order.status %>
                <% when Settings.order_status.pending %>
                  <td><%= order_status order, "btn btn-warning" %></td>
                <% when Settings.order_status.delivered %>
                  <td><%= order_status order, "btn btn-success" %></td>
                <% when Settings.order_status.canceled %>
                  <td><%= order_status order, "btn btn-danger" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center mb-30">
        <%= paginate @orders %>
      </div>
    </div>
  </div>
</div>
