<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header title"><%= t ".promotions" %></h2>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to t(".new_promotion"), new_admin_promotion_path,
      class: "btn btn-success" %>
  </div>
  <hr>
  <div class="text-center">
    <%= paginate @promotions %><br>
    <%= page_entries_info @promotions %>
  </div>
  <table class="table table-hover table-bordered mt-5">
    <thead>
      <tr>
        <th><%= t ".promotion" %></th>
        <th><%= t ".description" %></th>
        <th><%= t ".sale_percent" %></th>
        <th><%= t "admin.categories.form.status" %></th>
        <th><em class="fa fa-cog"></em></th>
      </tr>
    </thead>
    <tbody>
      <% @promotions.each do |promotion| %>
        <tr>
          <td><%= promotion.id %></td>
          <td><%= promotion.content %><br></td>
          <td><%= promotion.percent %>%</td>
          <td><%= status_promotion promotion %></td>
          <td>
            <%= link_to t(".edit"), edit_admin_promotion_path(promotion),
              class: "btn btn-info btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @promotions %>
  </div>
</div>
