<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-default nav-category mt-30" role="navigation">
          <ul class="nav navbar-nav">
            <% @categories.each do |category| %>
              <% if root(@category) == category %>
                <li class="active"><%= link_to category.name,
                  admin_category_path(category) %></li>
                <% if @category.children.present? || @category == category %>
                  <% @category.children.each do |child| %>
                    <li class="sub-category"><%= link_to child.name,
                      admin_category_path(child) %></li>
                  <% end %>
                <% else %>
                  <% Category.roots(@category.parent_id).each do |parent| %>
                    <li class="sub-category"><%= link_to parent.name,
                      admin_category_path(parent) %></li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </nav>
        <div class="mb-30">
          <ol class="breadcrumb title">
            <% ancestors(@category).each do |category| %>
              <li><%= link_to category.name, admin_category_path(category) %></li>
            <% end %>
            <li><strong><%= @category.name %></strong></li>
            <p class="new-category">
              <%= link_to t(".edit"), edit_admin_category_path(parent_id: @category.parent_id),
                class: "btn btn-warning btn-rounded btn-sm new-category" %>
            </p>
            <p class="new-category">
              <%= link_to t(".new"), new_admin_category_path(parent_id: @category.id),
                class: "btn btn-success btn-rounded btn-sm new-category" %>
            </p>
            <p class="new-category">
              <%= link_to t(".add_product"), new_admin_product_path(category_id: @category.id),
                class: "btn btn-primary btn-rounded btn-sm new-category" %>
            </p>
          </ol>
        </div>
        <div class="clearfix"></div>
        <%= render "products" %>
      </div>
    </div>
  </div>
</div>
