<div class="container">
  <%= simple_form_for [:admin, @product], multipart: true do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-6 mt-10 mb-30">
        <%= f.input :category_id, label: t(".category"), collection: options,
          selected: params[:category_id], include_blank: t(".none") %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-6 mb-20">
        <%= f.input :name, label: t(".product_name") %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-6 mb-20">
        <%= f.input :price, label: t(".product_price") %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-6 mb-20">
        <%= f.input :description, label: t(".product_description") %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-6 mb-20">
        <%= f.input :image_url, as: :file,
          :input_html => {
            :multiple => true, name: "product[images_attributes][][image_url]"
          },
          label: t(".product_images") %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-6 mt-10 mb-30">
        <%= f.submit yield(:button_text), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
