<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header title"><%= t ".product_list" %></h2>
      </div>
    </div>
    <%= link_to t(".add_product"), new_admin_product_path,
      class: "btn btn-lg btn-success add_product" %>
    <%= t ".or" %>
    <button class="import_form btn btn-default"><%= t".import" %></button>
    <div class="import_product">
      <%= form_tag import_admin_products_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag t(".btn_import"), class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="export_product">
      <%= t ".download" %>
      <%= link_to t(".csv"), admin_products_path(format: "csv") %> |
      <%= link_to t(".excel"), admin_products_path(format: "xls") %>
    </div>
    <%= search_form_for @q, url: admin_products_path do |f| %>
      <div class="col-md-12">
        <div class="input-group mt-30 mb-5">
          <%= f.label :name_cont, t(".product_name"), class: "col-md-3 control-label mt-5" %>
          <div class="col-md-9">
            <%= f.search_field :name_cont, class: "form-control" %>
          </div>
          <%= f.label :category_name_cont, t(".category_name"), class: "col-md-3 control-label mt-15" %>
          <div class="col-md-9 mt-15">
            <%= f.search_field :category_name_cont, class: "form-control" %>
          </div>
          <div class="field">
            <div class="col-md-3 control-label mt-15">
              <strong><%= t ".sort" %></strong>
            </div>
            <div class="col-md-9 mt-10">
              <%= f.sort_fields do |s| %>
                <%= s.sort_select %>
              <% end %>
            </div>
          </div>
          <div class="col-md-3 mt-15">
            <%= button_tag type: "submit", class: "btn btn-info" do %>
              <i class="fa fa-search"></i>
              <%= t "admin.orders.index.filter" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="display-category"><%= t "admin.categories.index.display" %></div>
        <%= select_tag :limit, options_from_collection_for_select(
          Settings.show_limit, :second, :second, selected: params[:limit] ||
          Settings.show_limit.show_15), id: "show-limit"%>
      </div>
    <% end %>
    <div class="text-center">
      <%= paginate @products %><br>
      <%= page_entries_info @products %>
    </div>
    <table class="table table-bordered mt-5" >
      <thead>
        <tr class="row bold">
          <th class="col-md-1"><%= t ".images" %></th>
          <th class="col-md-2"><%= sort_link @q, :name, t(".name") %></th>
          <th><%= sort_link @q, :category_name, t(".category") %></th>
          <th><%= t ".average_rating" %></th>
          <th><%= sort_link @q, :likes_count, t(".likes") %></th>
          <th><%= sort_link @q, :price, t(".price") %></th>
          <th class="col-md-1"><%= t(".order") %></th>
          <th><em class="fa fa-cog"></em></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr class="row">
            <td class="text-center col-md-1">
              <div class="slick_slide thumbnail_products" align="center">
                <% product.images.each do |i| %>
                  <div>
                    <div>
                      <%= link_to t(".delete"), admin_image_path(i),
                        method: :delete %>
                    </div>
                    <%= image_tag i.image_url_url,
                      class: "thumbnail_products" %>
                  </div>
                <% end %>
              </div>
            </td>
            <td class="col-md-2"><%= link_to product.name, admin_product_path(product) %></td>
            <td><%= product.category_name %></td>
            <td class="text-center">
              <input type="hidden" data-id="<%= product.id %>" class="rating"
                  data-filled="fa fa-star fa-1x" data-empty="fa fa-star-o fa-1x"
                  value="<%= product.average_rating %>" disabled="disabled" />
            </td>
            <td class="text-center"><%= product.likes_count %></td>
            <td class="text-right"><%= format_price product.price %></td>
            <td class="text-center"><%= count_order product %></td>
            <td class="text-center">
              <%= link_to t(".edit"),
                edit_admin_product_path(product, category_id: product.category.id),
                class: "btn btn-sm btn-info" %>
              <%= link_to t(".delete"), admin_product_path(product),
                method: :delete, data: {confirm: t(".you_sure")},
                class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @products %><br>
    </div>
  </div>
</div>
