<div class="container_fullwidth">
  <div class="container">
    <table class="table table-bordered mt-5" >
      <h3 class="text-center mb-5"><%= t ".product_list" %></h4>
      <%= link_to t(".add_product"),
        new_admin_product_path,
        class: "btn btn-lg btn-success" %>
      <thead>
        <tr class="row bold">
          <th class="text-center col-md-3"><%= t ".images" %></th>
          <th class="text-center col-md-2"><%= t ".name" %></th>
          <th class="text-center col-md-2"><%= t ".category" %></th>
          <th class="text-center col-md-1"><%= t ".price" %></th>
          <th class="text-center col-md-2"><%= t ".description" %></th>
          <th class="text-center col-md-2"><em class="fa fa-cog"></em></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr class="row">
            <td class="text-center col-md-3">
              <div class="slick_slide" align="center" style="max-width: 200px; max-height: 200px">
                <% product.images.each do |i| %>
                  <div>
                    <div>
                      <%= link_to t(".delete"), admin_image_path(i),
                        method: :delete %>
                    </div>
                    <%= image_tag i.image_url_url,
                      style: "max-width: 200px; max-height: 200px" %>
                  </div>
                <% end %>
              </div>
            </td>
            <td class="col-md-2"><%= product.name %></td>
            <td class="col-md-2"><%= product.category.name %></td>
            <td class="text-right col-md-1">
              <%= product.price %> <%= t ".usd" %>
            </td>
            <td class="col-md-2"><%= product.description %></td>
            <td class="text-center col-md-2">
              <%= link_to t(".edit"), edit_admin_product_path(product),
                class: "btn btn-sm btn-info" %>
              <%= link_to t(".delete"), admin_product_path(product),
                method: :delete, data: {confirm: t(".you_sure")},
                class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
