<div class="wrapper">
  <div class="container_fullwidth">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="products-details">
            <div class="preview_image">
              <div class="slider-for">
                <% @product.images.each do |i| %>
                  <div class="preview-small">
                    <%= image_tag i.image_url_url %>
                  </div>
                <% end %>
              </div>
              <div class="slider-nav">
                <% @product.images.each do |i| %>
                  <div class="thum-image"><%= image_tag i.image_url_url %></div>
                <% end %>
              </div>
            </div>
            <div class="products-description">
              <h5 class="name">
                <%= @product.name %>
              </h5>
              <p>
                <input type="hidden" data-id="<%= @product.id %>" class="rating"
                  data-filled="fa fa-star fa-1x" data-empty="fa fa-star-o fa-1x"
                  value="<%= @product.average_rating %>" disabled="disabled" />
                <a class="review_num" href="#">
                  <%= pluralize(@comments.count, "Review") %>
                </a>
              </p>
              <p>
                <%= @product.description %>
              </p>
              <hr class="border">
              <div class="price">
                Price :
                <span class="new_price">
                  <%= format_price @product.price %>
                </span>
                <span class="old_price">
                  450.00
                  <sup>
                    $
                  </sup>
                </span>
              </div>
              <hr class="border">
              <div class="wided">
                <div class="button_group">
                  <%= button_to t(".add"), carts_path(product_id: @product.id),
                    method: :post, remote: true, class: "button add-cart" %>
                  <button class="button compare">
                    <i class="fa fa-exchange">
                    </i>
                  </button>
                  <div id="like_form_<%= @product.id %>" class="like_form">
                    <%= render "shared/like_form", product: @product %>
                  </div>
                  <button class="button favorite">
                    <i class="fa fa-envelope-o">
                    </i>
                  </button>
                </div>
              </div>
              <div class="clearfix">
              </div>
              <hr class="border">
              <img src="#" alt="" class="pull-right">
            </div>
          </div>
          <div class="clearfix">
          </div>
          <div class="tab-box">
            <div id="tabnav">
              <ul>
                <li>
                  <a href="#Descraption">
                    <%= t ".description" %>
                  </a>
                </li>
                <li>
                  <a href="#Reviews">
                    <%= t ".review" %>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content-wrap">
              <div class="tab-content" id="Descraption">
                <p>
                  <%= @product.description %>
                </p>
              </div>
              <div class="tab-content" id="Reviews">
                <div class="clearfix">
                </div>
                <% if user_signed_in? %>
                  <div class="commentform">
                    <%= render "comments/form", parent_id: nil, button_text: t(".post") %>
                  </div>
                  <hr>
                <% end %>
                <div id="commentdiv">
                  <%= comments_tree_for @comments %>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix">
          </div>
          <div id="productsDetails" class="hot-products">
            <h3 class="title">
              <strong>
                <%= t ".related" %>
              </strong>
              <%= t ".products" %>
            </h3>
            <div class="control">
              <a id="prev_hot" class="prev" href="#">
                &lt;
              </a>
              <a id="next_hot" class="next" href="#">
                &gt;
              </a>
            </div>
            <ul id="hot">
              <li>
                <div class="row">
                  <%= render partial: "shared/product", collection: @products %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
