<div class="wrapper">
  <div class="container_fullwidth">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="products-details">
            <div class="preview_image">
              <div class="slider-for">
                <% @product.images.each do |i| %>
                  <div class="preview-small">
                    <%= image_tag i.image_url_url %>
                  </div>
                <% end %>
              </div>
              <div class="slider-nav">
                <% @product.images.each do |i| %>
                  <div class="thum-image"><%= image_tag i.image_url_url %></div>
                <% end %>
              </div>
            </div>
            <div class="products-description">
              <h5 class="name">
                <%= @product.name %>
              </h5>
              <p>
                <input type="hidden" data-id="<%= @product.id %>" class="rating"
                  data-filled="fa fa-star fa-1x" data-empty="fa fa-star-o fa-1x"
                  value="<%= @product.average_rating %>" disabled="disabled" />
                <a class="review_num" href="#">
                  02 Review(s)
                </a>
              </p>
              <p>
                Availability:
                <span class=" light-red">
                  In Stock
                </span>
              </p>
              <p>
                <%= @product.description %>
              </p>
              <hr class="border">
              <div class="price">
                Price :
                <span class="new_price">
                  <%= @product.price %>
                  <sup>
                    $
                  </sup>
                </span>
                <span class="old_price">
                  450.00
                  <sup>
                    $
                  </sup>
                </span>
              </div>
              <hr class="border">
              <div class="wided">
                <div class="qty">
                  Qty &nbsp;&nbsp;:
                  <select>
                    <option>
                      1
                    </option>
                  </select>
                </div>
                <div class="button_group">
                  <%= button_to t(".add"), carts_path(product_id: @product.id),
                    method: :post, remote: true, class: "button add-cart" %>
                  <button class="button compare">
                    <i class="fa fa-exchange">
                    </i>
                  </button>
                  <div id="like_form_<%= @product.id %>" class="like_form">
                    <%= render "shared/like_form", product: @product %>
                  </div>
                  <button class="button favorite">
                    <i class="fa fa-envelope-o">
                    </i>
                  </button>
                </div>
              </div>
              <div class="clearfix">
              </div>
              <hr class="border">
              <img src="#" alt="" class="pull-right">
            </div>
          </div>
          <div class="clearfix">
          </div>
          <div class="tab-box">
            <div id="tabnav">
              <ul>
                <li>
                  <a href="#Descraption">
                    <%= t ".description" %>
                  </a>
                </li>
                <li>
                  <a href="#Reviews">
                    <%= t ".review" %>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content-wrap">
              <div class="tab-content" id="Descraption">
                <p>
                  <%= @product.description %>
                </p>
              </div>
              <div class="tab-content" id="Reviews">
                <% @product.comments.each do |comment| %>
                  <div class="review">
                    <h5 class="reviewer">
                      <%= comment.user.name %>
                    </h5>
                    <p class="review-date">
                      <%= comment.created_at %>
                    </p>
                    <p class="well">
                      <%= comment.content %>
                    </p>
                    <p>
                      <% if current_user == comment.user %>
                        <%= link_to "Delete",
                          product_comment_path(@product, comment),
                          method: :delete, data: { confirm: "Are you sure?" } %> |
                      <% end %>
                    </p>
                  </div>
                <% end %>
                <% if user_signed_in? %>
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <%= form_for([@product, @product.comments.build]) do |f| %>
                        <%= render "shared/error_messages", object: f.object %>
                        <%= f.hidden_field :product_id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.text_area :content,
                          placeholder: "Write your review",
                          class: "form-row input textareafild" %>
                        <%= f.submit t(".post"), class: "button" %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="clearfix">
          </div>
          <div id="productsDetails" class="hot-products">
            <h3 class="title">
              <strong>
                Hot
              </strong>
              Products
            </h3>
            <div class="control">
              <a id="prev_hot" class="prev" href="#">
                &lt;
              </a>
              <a id="next_hot" class="next" href="#">
                &gt;
              </a>
            </div>
            <ul id="hot">
              <li>
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <div class="products">
                      <div class="offer">
                        - %20
                      </div>
                      <div class="thumbnail">
                        <img src="#" alt="Product Name">
                      </div>
                      <div class="productname">
                        Iphone 5s Gold 32 Gb 2013
                      </div>
                      <h4 class="price">
                        $451.00
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                        <button class="button compare" type="button">
                          <i class="fa fa-exchange">
                          </i>
                        </button>
                        <button class="button wishlist" type="button">
                          <i class="fa fa-heart-o">
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="products">
                      <div class="thumbnail">
                        <img src="#" alt="Product Name">
                      </div>
                      <div class="productname">
                        Iphone 5s Gold 32 Gb 2013
                      </div>
                      <h4 class="price">
                        $451.00
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                        <button class="button compare" type="button">
                          <i class="fa fa-exchange">
                          </i>
                        </button>
                        <button class="button wishlist" type="button">
                          <i class="fa fa-heart-o">
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="products">
                      <div class="offer">
                        New
                      </div>
                      <div class="thumbnail">
                        <img src="#" alt="Product Name">
                      </div>
                      <div class="productname">
                        Iphone 5s Gold 32 Gb 2013
                      </div>
                      <h4 class="price">
                        $451.00
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                        <button class="button compare" type="button">
                          <i class="fa fa-exchange">
                          </i>
                        </button>
                        <button class="button wishlist" type="button">
                          <i class="fa fa-heart-o">
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <div class="products">
                      <div class="offer">
                        - %20
                      </div>
                      <div class="thumbnail">
                        <img src="#" alt="Product Name">
                      </div>
                      <div class="productname">
                        Iphone 5s Gold 32 Gb 2013
                      </div>
                      <h4 class="price">
                        $451.00
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                        <button class="button compare" type="button">
                          <i class="fa fa-exchange">
                          </i>
                        </button>
                        <button class="button wishlist" type="button">
                          <i class="fa fa-heart-o">
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="products">
                      <div class="thumbnail">
                        <img src="#" alt="Product Name">
                      </div>
                      <div class="productname">
                        Iphone 5s Gold 32 Gb 2013
                      </div>
                      <h4 class="price">
                        $451.00
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                        <button class="button compare" type="button">
                          <i class="fa fa-exchange">
                          </i>
                        </button>
                        <button class="button wishlist" type="button">
                          <i class="fa fa-heart-o">
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="products">
                      <div class="offer">
                        New
                      </div>
                      <div class="thumbnail">
                        <img src="#" alt="Product Name">
                      </div>
                      <div class="productname">
                        Iphone 5s Gold 32 Gb 2013
                      </div>
                      <h4 class="price">
                        $451.00
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                        <button class="button compare" type="button">
                          <i class="fa fa-exchange">
                          </i>
                        </button>
                        <button class="button wishlist" type="button">
                          <i class="fa fa-heart-o">
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <div class="products">
                      <div class="offer">
                        - %20
                      </div>
                      <div class="thumbnail">
                        <img src="#" alt="Product Name">
                      </div>
                      <div class="productname">
                        Iphone 5s Gold 32 Gb 2013
                      </div>
                      <h4 class="price">
                        $451.00
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                        <button class="button compare" type="button">
                          <i class="fa fa-exchange">
                          </i>
                        </button>
                        <button class="button wishlist" type="button">
                          <i class="fa fa-heart-o">
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="products">
                      <div class="thumbnail">
                        <img src="#" alt="Product Name">
                      </div>
                      <div class="productname">
                        Iphone 5s Gold 32 Gb 2013
                      </div>
                      <h4 class="price">
                        $451.00
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                        <button class="button compare" type="button">
                          <i class="fa fa-exchange">
                          </i>
                        </button>
                        <button class="button wishlist" type="button">
                          <i class="fa fa-heart-o">
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="products">
                      <div class="offer">
                        New
                      </div>
                      <div class="thumbnail">
                        <img src="#" alt="Product Name">
                      </div>
                      <div class="productname">
                        Iphone 5s Gold 32 Gb 2013
                      </div>
                      <h4 class="price">
                        $451.00
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                        <button class="button compare" type="button">
                          <i class="fa fa-exchange">
                          </i>
                        </button>
                        <button class="button wishlist" type="button">
                          <i class="fa fa-heart-o">
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <div class="clearfix">
      </div>
      <div class="our-brand">
        <h3 class="title">
          <strong>
            Our
          </strong>
          Brands
        </h3>
        <div class="control">
          <a id="prev_brand" class="prev" href="#">
            &lt;
          </a>
          <a id="next_brand" class="next" href="#">
            &gt;
          </a>
        </div>
        <ul id="braldLogo">
          <li>
            <ul class="brand_item">
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="brand_item">
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="brand-logo">
                    <img src="#" alt="">
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
