<div class="wrapper">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <div class="logo"><%= link_to image_tag "logo.png" %></div>
        </div>
        <div class="col-md-10 col-sm-10">
          <div class="header_top">
            <div class="row">

              <div class="col-md-8">
                <ul class="usermenu contact">
                  <li>
                    <p class="add"><%= t ".address" %></p>
                  </li>
                  <li>
                    <p class="hotline"><%= t ".hotline" %></p>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="usermenu">
                  <li><a href="checkout.html" class="log"><%= t ".login" %></a></li>
                  <li><a href="checkout2.html" class="reg"><%= t ".signup" %></a></li>
                </ul>
                <ul class="option_nav">
                  <li class="dorpdown">
                    <a href="#">Eng</a>
                    <ul class="subnav">
                      <li><a href="#">Eng</a></li>
                      <li><a href="#">Vns</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div> <!-- end row -->
          </div> <!-- end header top -->
          <div class="clearfix"></div>
          <div class="header_bottom">
            <ul class="option">
              <li id="search" class="search">
                <form><input class="search-submit" type="submit" value="">
                  <input class="search-input" placeholder="<%= t ".search" %>"
                    type="text" value="" name="search"></form>
              </li>
              <li class="option-cart">
                <a href="#" class="cart-icon" data-toggle="modal"
                  data-target="#myModal"><span class="cart_no">02</span></a>
                <%= render "shared/cart" %>
              </li>
            </ul>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown-white">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t ".home" %>
                  </a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t ".product" %>
                  </a>
                  <div class="dropdown-menu mega-menu">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <ul class="mega-menu-links">
                          <strong><li><h6><%= t ".product" %></h6></li></strong>
                          <li><a href="">Iphone</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <ul class="mega-menu-links">
                          <strong><li><h6><%= t ".price" %></h6></li></strong>
                        </ul>
                      </div>
                    </div>
                  </div>
                <li class="dropdown-white"><a href="">Iphone</a></li>
                <li class="dropdown-white"><a href="">Samsung</a></li>
                </li>
              </ul>
            </div> <!-- end collapse -->
          </div> <!-- end header-bottom -->
        </div> <!-- end col-md-10 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end header -->
</div>
