<body id="home">
  <div class="wrapper">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <div class="logo"><%= link_to(image_tag("logo.png"), root_path) %></div>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="header_top">
              <div class="row">
                <div class="col-md-8">
                  <ul class="usermenu contact">
                    <li>
                      <p class="add"><%= t ".address" %></p>
                    </li>
                    <li>
                      <p class="hotline"><%= t ".hotline" %></p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="usermenu">
                    <% if user_signed_in? %>
                      <li>
                        <% if current_user.role? %>
                          <div class="dropdown">
                            <%= link_to current_user.name, admin_dashboard_path,
                              class: "user dropbtn" %>
                            <ul class="dropdown-menu">
                              <li>
                                <%= link_to t(".promotion_list"),
                                  admin_promotions_path, class: "btn btn-lg" %>
                              </li>
                            </ul>
                          </div>
                        <% else %>
                          <div class="dropdown">
                            <%= link_to current_user.name,
                            edit_user_registration_path, class: "user" %>
                            <ul class="dropdown-menu">
                              <li>
                                <%= link_to t("orders.index.order_list"), orders_path,
                                  class: "btn btn-lg" %>
                              </li>
                            </ul>
                          </div>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to t(".logout"), destroy_user_session_path,
                          method: :delete, class: "logout" %>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to t(".sign_up"), "#",
                          data: {toggle: "modal", target: "#signupModal"},
                          class: "reg" %>
                        <%= render "shared/sign_up" %>
                      </li>
                      <li>
                        <%= link_to t(".login"), "#",
                          data: {toggle: "modal", target: "#loginModal"},
                          class: "login" %>
                        <%= render "shared/login" %>
                      </li>
                      <li>
                        <%= link_to user_google_oauth2_omniauth_authorize_path,
                          class: "pd-gg" do %>
                          <i class="fa fa-google-plus" aria-hidden="true"></i>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                  <ul class="option_nav">
                    <li class="dropdown">
                      <a href="#"><%= I18n.locale %></a>
                      <ul class="subnav">
                        <li><%= link_to t(".english"), locale:"en" %></li>
                        <li><%= link_to t(".vietnam"), locale:"vi" %></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div> <!-- end row -->
            </div> <!-- end header top -->
            <div class="clearfix"></div>
            <div class="header_bottom">
              <ul class="option">
                <li id="search" class="search">
                  <form>
                    <input class="search-submit" type="submit" value="">
                    <input class="search-input" placeholder="<%= t ".search" %>"
                      type="text" value="" name="search">
                  </form>
                </li>
                <li class="option-cart">
                  <a href="#" class="cart-icon" data-toggle="modal"
                    data-target="#myModal">
                    <span class="cart_no">
                      <%= quantity_item %>
                    </span>
                  </a>
                  <%= render "shared/cart" %>
                </li>
              </ul>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="dropdown-white">
                    <%= link_to t(".home"), root_path %>
                  </li>
                  <% @all_categories.each do |category| %>
                    <% if category.children.present? %>
                      <li class="dropdown">
                        <%= link_to category.name, category,
                          class: "dropdown-toggle" %>
                        <div class="dropdown-menu mega-menu">
                          <div class="row">
                            <div class="col-md-6 col-sm-6">
                              <ul class="mega-menu-links pagi_menu">
                                <% category.children.each do |children| %>
                                  <li><%= link_to children.name, children %></li>
                                <% end %>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                    <% else %>
                      <li class="dropdown-white"><%= link_to category.name, category %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div> <!-- end collapse -->
            </div> <!-- end header-bottom -->
          </div> <!-- end col-md-10 -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end header -->
  </div>
</body>
