<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce01</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      :"data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "application",
      :"data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="content">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> margin-header mess_color">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
